<footer>     
    <a class="playstore" href="#" target="_blank"></a>
        <h4>Síguenos @BogotoursTravel:</h4>
            <ul id="redesf"><a target="_blank" href="https://api.whatsapp.com/send?phone=+573107689638&text=Contacto desde www.bogotours.co"><img src="/static/img/social/whatsapp.png"></a><a target="_blank" href="https://www.facebook.com/bogotourstravel"><img src="/static/img/social/facebook.png"></a><a href="https://www.instagram.com/bogotourstravel"><img src="/static/img/social/instagram.png"></a><a target="_blank" href="mailto:info@bogotours.co"><img src="/static/img/social/gmail.png"></a>
    <a href="https://www.youtube.com/channel/UClHGTwgioYz5tcSNzYLVCpA"><img src="/static/img/social/youtube.png"></a></ul>
<br><br>
    <img src="/static/img/cards.png" width="200px">
    <br>
    <p>© 2019 Bogotours - Bogotá, Colombia. </p>
</footer>

<style type="text/css">
footer{background: #000;text-align: center;padding: 20px;}
footer a{font-size:14px;padding: 5px;color: #fff;display: block;}
footer a:hover{background: rgba(0,0,0,0.3)}
footer strong{padding: 10px;color: #fff;display: block;}
footer p{color: #fff;font-size: 10px;padding: 5px;}
footer table{background: rgba(0,0,0,0.2);width: 100%;margin-bottom: 20px;vertical-align: top;}
footer table td{vertical-align: top;}
footer h4{text-align: center;color: white;}
.playstore{background: url(/static/img/logo.png)no-repeat center center;background-size: 200px;display: block;margin: 10px auto;width: 200px;height: 100px;}
.playstore:hover{background: url(/static/img/logo.png)no-repeat center center;background-size: 200px;}

#redesf a:hover{opacity:1;}
#redesf a img{height:30px;width:30px;}
#redesf a{padding:0px;opacity:0.8;margin:5px;border-radius:50%;width:30px;height:30px;display: inline-block;}

.phonef{background: #150000;padding: 5px; font-size: 16px;text-align: center;}
.phonef img{display: inline-block;width: 38px;vertical-align: middle;padding: 5px;margin-left: 20px;}
.phonef p{display: inline-block;color: white;vertical-align: middle;}

</style>