
<section class="portada" id="portada">
<div class="swiper-container">
<div class="swiper-wrapper">

{%for group in group reversed%}
{%if group.first.title == "Bogotours"%}
    {%for profile in profile %}
    {%if profile.page.title == group.first.title%}
        <div class="swiper-slide">
        <div class="banner" id="banner{{group.child.id}}">
        <img class="overlogo" src="/static/img/go.png">
        <h3>{{group.child.title}} <br>{{group.first.title}}
            <span>{{group.child.header}}</span>
        </h3>
        </div>
        </div>
        <style type="text/css">
            {%for profiles in profiles%}
            {%if profiles.page.title == group.child.title%}
            #banner{{group.child.id}}{background: url(/media/{{profiles.photo}})no-repeat center center;background-size: cover;}
            <img src="/media/{{profiles.photo}}">
            {%endif%}
            {%endfor%}
        </style>
    {%endif%}
    {%endfor%}
{%endif%}
{%endfor%}

</div>
<div class="swiper-pagination"></div>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>

<!--
<div class="overl">
<img src="/static/img/overlay.png">
</div>
-->

</div>

</section>

<style type="text/css">
    
    .banner{position: relative;width: 100%;height: 100%;overflow: hidden;padding: 200px;}
    .banner h3{display:block;text-align:right;text-transform:uppercase;position: absolute;bottom: 50px;right:50px;width:60%;background:rgba(0,0,0,0);font-size: 50px;color: white;font-family: 'Montserrat'}
    .banner h3 span{color: yellow;font-size: 30px;text-transform: lowercase;display: block;}
    .banner a{display:inline-block;background: white;padding: 20px 30px;font-size: 30px;color: #3365f6;border-radius: 60px;font-weight: normal;}
    .banner img{width: 100%;height: auto;}
    .overlogo{opacity:0.4   ;position: absolute; top:10px;right: 20px;width: 130px!important;height: auto;}
  
    .overl{position: absolute;bottom: 0px;width: 100%;height: 40px;z-index: 1;right: -40px;}
    .overl img{width: 100%;}
        @media screen and (max-width:833px){
        .banner h3{font-size: 30px;width: 100%;}
        .banner{padding: 10px;}
    }
</style>