{% for category in category %}
<h2>{{category.title}}</h2>
<h3>{{category.description}}</h3>
<section class="tours">
    {%for item in item %}
    {%if item.category.title == category.title %}
    <article>
        <figure>
        <a href="{%url 'web.item' item.slug%}">
        <img src="/media/{{item.picture}}">
        </a>
        <span>See More...</span>
        </figure>
        <div>
        <h4>{{item.title}}</h4> 
        <p>{{item.description|safe}}</p>
         <table class="thistour-icons">
            <td><img src="/static/img/calendar.png"><p>Every Day</p></td>
            <td><img src="/static/img/time.png"><p>3 Hours</p></td>
            <td><img src="/static/img/clock.png"><p>10:00 am & 2:00 pm</p></td>
            <td><img src="/static/img/info.png"><p>{{item.section}}</p></td>
        </table>
        </div>
        <div>
            {% for photo in photo %}
            {%if photo.item.title == item.title%}
            <a href="{%url 'web.itemgallery' item.slug%}">
            <img src="/media/{{photo.file}}">
            </a>
            {%endif%}
            {%endfor%}
        </div>
    </article>
    {%endif%}
    {%endfor%}

</section>
{%endfor%}

<style type="text/css">
	.tours{text-align:center;background;padding: 5px 80px;background: white;}
.tours article{-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.52);
-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.52);
box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.52);background:white;text-align:left;display: inline-block;vertical-align: top;width: 100%;margin: 3px 3px;border:1px solid rgba(0,0,0,0.1);border-radius: 5px;overflow: hidden;}
.tours article img{width: 100%;height:auto;border-radius: 1px;display:inline-block;vertical-align: top;}
.tours article figure{position:relative;width: 40%;height: 280px;overflow: hidden;display: inline-block;vertical-align: top;}
.tours h4{text-align:left;padding: 20px 0;font-size: 20px;}
.tours div{display: inline-block;width: 29%;padding-left: 20px;vertical-align: top;}
.tours div img{display: inline-block;width: 49%;height: 100px;}
.thistour-icons img{height: auto!important;}
.tours article figure span{position:absolute;left: 20px;bottom:20px;background: green;color: white;padding: 10px 30px;font-size:14px;font-weight: bold;}

@media screen and (max-width:833px){
        .tours{padding: 5px;}
        .tours article figure{width: 100%;height: auto;}
        .tours div{width: 100%;height: auto;padding: 5px;}
        .tours div img{width: 100%;height: auto;}
    }

</style>