<section id="loader" class="loader">
<div>
<img src="/static/img/loading2.gif">
</div>
</section>

<style type="text/css">
    #loader{text-align:center;background: #060606 url(/static/img/go.png)no-repeat center center;background-size:100px;z-index: 20;position: fixed;overflow: hidden;width: 100%;height: 100%;padding-top:15%;top:0;left: 0;}
    .loader{display: block;}
    .loaders{display: none;}
    #loader div{display:block;width: 60px;margin: 0 auto;padding-top: 15%;border-radius:50%;background: white;padding: 1px;}
    #loader div img{width: 100%;}
</style>

<script type="text/javascript">
    loader();
    function loader(){
        setTimeout(function(){ 
            document.getElementById("loader").className = "loaders";
         }, 2000);
    }
</script>