<section class="top-pages">
	<h4 class="toph4">{{link.title}}</h4>
{%for group in group%}
{%if group.first.title == link.title%}
    {%for profile in profile %}
    {%if profile.page.title == group.first.title%}
	<article>
		<figure>
			{%for profiles in profiles%}
			{%if profiles.page.title == group.child.title%}
			<a href="{%url 'web.page' profiles.page.slug%}">
			<img src="/media/{{profiles.photo}}">
			</a>
			{%endif%}
			{%endfor%}
		</figure>
		<h3>{{group.child.title}}</h3>
		{%for groups in groups%}
		{%if groups.child.title == group.child.title%}
		<strong>{{groups.first.title}}</strong>
		{%endif%}
		{%endfor%}
		<br><br>
	</article>
    {%endif%}
    {%endfor%}
{%endif%}
{%endfor%}
</section>

<style type="text/css">
	.top-pages{background: #fff;padding: 20px;}
	.top-pages article{width: 33%;display: inline-block;vertical-align: top;}
	.top-pages article figure{background:#333;width: 100%;height: 250px;overflow: hidden;text-align: center;}
	.top-pages article figure img{width: 100%;height: 100%;}
	.top-pages article figure img:hover{width: 110%;height: 110%;}
	.top-pages article h3{padding: 20px;font-size: 18px;text-align: left;color: #000;background: url(/static/img/places.png)no-repeat left 1px center;background-size: 18px;}
	.top-pages article strong{color: #666;text-align: left;padding: 5px;font-size: 14px;border: 1px solid #888;}
	.toph4{color: #353795;margin: 30px auto;display: block;font-size: 30px;text-align: center;font-family: montserrat;}

	        @media screen and (max-width:833px){
        .top-pages article{width: 100%;}
    }
</style>