
<section class="portada" id="portada">
<div class="swiper-container">
<div class="swiper-wrapper">

    {%for profile in profile %}
    {%if profile.page.title == link.title%}
        <div class="swiper-slide">
        <div class="banner" id="banner{{link.slug}}">
        <img class="overlogo" src="/static/img/go.png">
        <h3>
            <a href="{%url 'web.page' link.slug%}">{{link.title}} <br>
            <span>{{link.header}}</span>
             </a>
            {%if link.price == "0"%}

            {%else%}
            <a onclick="reser()" class="reserve">{{link.currency}} {{link.price}} {{link.payinf}}</a>
            {%endif%}
        </h3>
        </div>
        </div>
        <style type="text/css">
            #banner{{link.slug}}{background: url(/media/{{profile.photo}})no-repeat center center;background-size: cover;}
            <img src="/media/{{profile.photo}}">
        </style>
    {%endif%}
    {%endfor%}

{%for group in group reversed%}
{%if group.first.title == link.title%}
    {%for profile in profile reversed%}
    {%if profile.page.title == group.first.title%}
        <div class="swiper-slide">
        <div class="banner" id="banner{{group.child.id}}">
        <img class="overlogo" src="/static/img/go.png">
        <h3>{{group.child.title}} <br>
            <span class="peque">
            {{group.first.title}}
            </span>
            <span>{{group.child.header}}</span>
        </h3>
        </div>
        </div>
                <style type="text/css">
            {%for profiles in profiles%}
            {%if profiles.page.title == group.child.title%}
            #banner{{group.child.id}}{background: url(/media/{{profiles.photo}})no-repeat center center;background-size: cover;}
            <img src="/media/{{profiles.photo}}">
            {%endif%}
            {%endfor%}
        </style>

    {%endif%}
    {%endfor%}
{%endif%}
{%endfor%}

</div>
<div class="swiper-pagination"></div>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>

<!--
<div class="overl">
<img src="/static/img/overlay.png">
</div>
-->

</div>

</section>

<style type="text/css">
    
    .banner{position: relative;width: 100%;height: 100%;overflow: hidden;padding: 200px;}
    .banner h3{display:block;text-align:right;text-transform:uppercase;position: absolute;bottom: 16px;right:50px;width:60%;background:rgba(0,0,0,0);font-size: 50px;color: white;font-family: 'Montserrat'}
    .banner h3 span{color: yellow;font-size: 20px;text-transform: lowercase;display: block;}
    .banner a{color: white;}
    .banner img{width: 100%;height: auto;}
    .overlogo{opacity:0.4;position: absolute; top:10px;right: 20px;width: 100px!important;height: auto;}
    .overl{position: absolute;bottom: 0px;width: 100%;height: 40px;z-index: 1;right: -40px;}
    .overl img{width: 100%;}
    .peque{color:#3365f6;font-size: 22px;}
        .reserve:hover{cursor: pointer;}
        @media screen and (max-width:833px){
        .banner h3{font-size: 30px;width: 70%;}
        .banner{padding: 10px;}
    }
</style>




{%if link.price == "0" %}

{%else%}
<section class="payment" id="payment">
    <a class="regresar" href="javascript:reser()">Cerrar</a>
    <div class="payu">
    <h5>RESERVAR:{{link.title}} - {{link.header}}</h5>

    <p><strong>Costo Total: {{link.currency}} {{link.price}} {{link.payinf}}</strong></p>
    <br><span>Seleccione su tipo de pago:</span>
    <br>
            <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AfCrPM8PaHtk_7qg2bH939Z-jq2Nf9bf_GqAJiuZ4xhBn8USeEWX7aqvHjoPmCIQ8JyRRHvr9EGouDul&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            // El valor value es el que debe de modificarse
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{link.price}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }

        }).render('#paypal-button-container');
    </script>

</div>
</section>


<script type="text/javascript">
            function cargar(){
            $("#capa").load('{%url 'web.booking' link.slug%}');
        }
 

    function reser(){
        if(document.getElementById('payment').className == 'payment'){
            document.getElementById('payment').className = 'payment2';
        } else if (document.getElementById('payment').className == 'payment2'){
            document.getElementById('payment').className = 'payment';
        }
    }
</script>

<style type="text/css">
    .payment{display: none;}
    .payment2{display:block;}
    .payu{margin:4px;background: #fff;}
    .reserve{margin: 5px;display: inline-block; background:#353795;border-radius: 20px;padding: 5px 10px;font-size: 14px;text-align: center;}
    #payment{width: 100%;height: 100%; position:fixed;z-index:30;background: rgba(0,0,0,0.8);top: 0;left: 0;padding: 0 200px;}
    #payment h5{font-size: 30px;padding: 10px;color: #000;display: block;}
    .regresar{font-weight:normal;background: #000 url(/static/img/back.png)no-repeat left 10px center;background-size:20px;color: white;width: 100%;padding: 10px;font-size: 14px;display: block;padding-left: 40px;}
    #tabla{width: 100%;height: 500px;}
            @media screen and (max-width:833px){
        #payment{padding: 10px;}
    }
</style>


{%endif%}
