<section class="top-pages">
	<h4 class="toph4">{{link.title}}</h4>
{%for group in group%}
{%if group.first.title == link.title%}
    {%for profile in profile %}
    {%if profile.page.title == group.first.title%}
	<article>
		<figure>
			{%for profiles in profiles%}
			{%if profiles.page.title == group.child.title%}
			<a href="{%url 'web.page' profiles.page.slug%}">
			<img src="/media/{{profiles.photo}}">
			</a>
			{%if profiles.page.price == "0"%}

			{%else%}
			<p class="purple">{{profiles.page.currency}} {{profiles.page.price}} {{profiles.page.payinf}}</p>
			{%endif%}
			{%endif%}
			{%endfor%}
		</figure>
		<h3>{{group.child.title}}</h3>
		<!--
		{%for groups in groups%}
		{%if groups.child.title == group.child.title%}
		<strong>{{groups.first.title}}</strong>
		{%endif%}
		{%endfor%} -->
		<br><br>
	</article>
    {%endif%}
    {%endfor%}
{%endif%}
{%endfor%}
<br>
{%if link.description%}
	<p class="desk">
		<strong>{{link.title}}:</strong>
		{{link.description|safe}}
		<br><br>
		{%if link.review%} 
		<strong>Descripción:</strong> 
		{{link.review|safe}}
		{%endif%}
		<!--
			{%for group in group%}
			{%if group.child.title == link.title%}
			<strong>
			<a class="morados" href="{%url 'web.page' group.first.slug%}">
			{{group.first.title}}
			</a>
			</strong>
			{%endif%}
			{%endfor%}
		-->
	</p>
{%else%}

{%endif%}

</br></br>

{%if link.price%}

<section class="payment">

		    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AfCrPM8PaHtk_7qg2bH939Z-jq2Nf9bf_GqAJiuZ4xhBn8USeEWX7aqvHjoPmCIQ8JyRRHvr9EGouDul&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            // El valor value es el que debe de modificarse
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{link.price}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>

</section>
<style type="text/css">
	.payment{z-index: 1;}
</style>
{%endif%}

<section class="page-gall">
	{% for photo in photo %}
            {%if photo.page.title == link.title%}
            <article>
            <a >
            <img src="/media/{{photo.file}}">
            </a>
            </article>
            {%endif%}
            {%endfor%}

            <style type="text/css">
            	.page-gall{padding: 10px;}
            	.page-gall article{width: 49%!important;height: 400px;display: inline-block;vertical-align: middle;}
            	.page-gall article a img{width: 100%;height: 100%;}
            		@media screen and (max-width:833px){
        			.page-gall article{width: 100%!important;height: 400px;display: inline-block;vertical-align: middle;}
    				}
            </style>
</section>

	<h4 class="toph4">Más en Bogotours</h4>
{%for group in group%}
{%if group.child.title == link.title%}
   {%for groups in groups%}
   {%if groups.first.title == group.first.title%}
   		{%for profile in profile%}
   		{%if profile.page.title == groups.child.title%}
   		{%if not profile.page.title == link.title%}
   		<article>
		<figure>
			<a href="{%url 'web.page' profile.page.slug%}">
			<img src="/media/{{profile.photo}}">
			</a>
			{%if profile.page.price == "0"%}

			{%else%}
			<p class="purple">{{profiles.page.currency}} {{profiles.page.price}} {{profiles.page.payinf}} </p>
			{%endif%}
		</figure>
		<h3>{{profile.page.title}}</h3>
	</article>
   		{%endif%}
   		{%endif%}
   		{%endfor%}
   {%endif%}
   {%endfor%}
{%endif%}
{%endfor%}

</section>

{% if link.id == 8%}
	<h2>Explora las mejores experiencias</h2>
	<br><br>
<h3>Encuentra información sobre la ciudad de Bogotá en nuestro Blog</h3>
<section class="iblogs">
{%for blog in blog %}
	<article>
		<a href="{%url 'web.blog' blog.slug%}">
		<img src="/media/{{blog.picture}}">
		</a>
		<h4>{{blog.title}}</h4>
		<li><a href="{%url 'web.blog' blog.slug%}">Continuar leyendo...</a></li>
	</article>
{%endfor%}
</section>

<style type="text/css">
	.border{background: #000;}
	.iblogs{background: #000;padding: 20px;text-align: center;width: 60%;margin: 0 auto;}
	.iblogs article{display: inline-block;background: #fff;width: 100%;padding:10px;vertical-align: top;border-radius: 5px;margin: 2px;}
	.iblogs img{width: 100%;border-radius: 5px;}
	.iblogs p{padding: 20px;font-size: 12px;color: #222;}
	.iblogs h4{padding: 20px;font-size: 18px;}
	.iblogs li{display:inline-block;margin: 10px auto;}
	.iblogs li a{background: black;color: #fff;padding: 10px 20px;display: block;border-radius: 60px;}
	.world{width: 100%;}
	@media screen and (max-width:833px){
        .iblogs{padding: 5px;width: 100%;}
        .iblogs article{width: 100%;}
    }
</style>

{%endif%}

<style type="text/css">
.purple{position: absolute;bottom:10px;right: 5px;display: block;background: #353795;text-align: center;font-size: 16px;color: yellow;padding: 8px;border-radius: 14px;}
	.top-pages{background: #fff;padding: 20px;}
	.top-pages article{width: 33%;display: inline-block;vertical-align: top;}
	.top-pages article figure{background:#333;width: 100%;height: 250px;overflow: hidden;text-align: center;position: relative;}
	.top-pages article figure img{width: 100%;height: 100%;}
	.top-pages article figure img:hover{width: 110%;height: 110%;}
	.top-pages article h3{padding: 20px;font-size: 18px;text-align: left;color: #000;background: url(/static/img/places.png)no-repeat left 1px center;background-size: 18px;}
	.top-pages article strong{color: #666;text-align: left;padding: 5px;font-size: 14px;border: 1px solid #888;}
	.toph4{color: #353795;margin: 30px auto;display: block;font-size: 30px;text-align: center;font-family: montserrat;}
	.desk{padding: 30px;border: 1px solid #333;color:#333;font-size:18px;background: url(/static/img/info.png) no-repeat left 8px top 5px;background-size: 35px;padding-left: 50px;padding-top: 20px;border-radius: 20px;font-family: calibri;}
	.desk strong{font-family: calibri;}
	.morados{color: #353795;background: url(/static/img/places.png) no-repeat left 5px center;background-size: 18px;display: inline-block;border: 1px solid #353795;padding:5px;padding-left: 30px;border-radius: 10px;margin: 2px;}

	        @media screen and (max-width:833px){
        .top-pages article{width: 100%;}
    }
</style>