
<section class="portada" id="portada">
<div class="swiper-container">
<div class="swiper-wrapper">

    {%for profile in profile %}
    {%if profile.page.title == link.title%}
        <div class="swiper-slide">
        <div class="banner" id="banner{{link.slug}}">
        <img class="overlogo" src="/static/img/go.png">
        <h3>
            <a href="{%url 'web.page' link.slug%}">{{link.title}} <br>
            <span>{{link.header}}</span>
             </a></br>
            <a class="reserve" href="#" onclick="pagar()">Reserve este Tour</a>
        </h3>
        </div>
        </div>
        <style type="text/css">
            #banner{{link.slug}}{background: url(/media/{{profile.photo}})no-repeat center center;background-size: cover;}
            <img src="/media/{{profile.photo}}">
        </style>
    {%endif%}
    {%endfor%}

{%for group in group reversed%}
{%if group.first.title == link.title%}
    {%for profile in profile reversed%}
    {%if profile.page.title == group.first.title%}
        <div class="swiper-slide">
        <div class="banner" id="banner{{group.child.id}}">
        <img class="overlogo" src="/static/img/go.png">
        <h3>{{group.child.title}} <br>
            <span class="peque">
            {{group.first.title}}
            </span>
            <span>{{group.child.header}}</span>
        </h3>
        </div>
        </div>
                <style type="text/css">
            {%for profiles in profiles%}
            {%if profiles.page.title == group.child.title%}
            #banner{{group.child.id}}{background: url(/media/{{profiles.photo}})no-repeat center center;background-size: cover;}
            <img src="/media/{{profiles.photo}}">
            {%endif%}
            {%endfor%}
        </style>

    {%endif%}
    {%endfor%}
{%endif%}
{%endfor%}

</div>
<div class="swiper-pagination"></div>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>

<!--
<div class="overl">
<img src="/static/img/overlay.png">
</div>
-->

</div>

</section>

<style type="text/css">
    
    .banner{position: relative;width: 100%;height: 100%;overflow: hidden;padding: 200px;}
    .banner h3{display:block;text-align:right;text-transform:uppercase;position: absolute;bottom: 50px;right:50px;width:60%;background:rgba(0,0,0,0);font-size: 50px;color: white;font-family: 'Montserrat'}
    .banner h3 span{color: yellow;font-size: 30px;text-transform: lowercase;display: block;}
    .banner a{color: white;}
    .banner img{width: 100%;height: auto;}
    .overlogo{opacity:0.4   ;position: absolute; top:10px;right: 20px;width: 130px!important;height: auto;}
    .overl{position: absolute;bottom: 0px;width: 100%;height: 40px;z-index: 1;right: -40px;}
    .overl img{width: 100%;}
    .peque{color:#3365f6;font-size: 22px;}
        .reserve{margin: 2px;display: inline-block; background: yellow;border-radius: 30px;padding: 10px 20px;font-size: 16px;}
        @media screen and (max-width:833px){
        .banner h3{font-size: 30px;width: 100%;}
        .banner{padding: 10px;}
    }
</style>