
<h2>What travelers are saying</h2>
<h3>Their side of the story</h3>
<section class="travelers">
    <p>«Highly recommend this tour through La Candelaria — included very interesting background on the city’s history, as well as delicious samples of local fruits, juices, coca tea and coffee. Natalia was a great guide who kept everyone engaged throughout.»</p>
    <img src="/resources/img/avatar.jpg">
    <br>
    <strong>Emma Hutson</strong>
    <p>USA</p>
</section>

<style type="text/css">
    .travelers{padding: 20px 100px;text-align: center;}
    .travelers p{width: 80%;font-size: 18px;line-height: 2;margin: 0 auto;display: block;color: #555;}
    .travelers img{border-radius: 50%;width: 80px;height: 80px;margin: 20px;}
    .travelers strong {color: #3365f6;}
</style>