<h2>Experiencias que nos acercan</h2>
<h3>Emprender un Tour es acercarse a la ciudad, su gente, nuestra cultura.</h3>
<section class="travelers">
    <p>«Descubrir Bogotá es una experiencia que nos acerca al corazón de la ciudad, su gente y su cultura. Emprender un Tour es adentrarse en lo desconocido y encontrar en la historia y los lugares maravillosos para descubrir un sinfín de experiencias que transforman nuestro camino. Te invitamos a descubrir Bogotá con nosotros. »</p>
    <img src="/static/img/avatar.jpg">
    <br>
    <strong>Bogotours</strong>
    <p>Colombia</p>
</section>

<style type="text/css">
    .travelers{padding: 20px 100px;text-align: center;}
    .travelers p{width: 80%;font-size: 18px;line-height: 2;margin: 0 auto;display: block;color: #555;}
    .travelers img{border-radius: 50%;width: 80px;height: 80px;margin: 20px;}
    .travelers strong {color: #3365f6;}

        @media screen and (max-width:833px){
        .travelers{padding: 5px;}
    }
</style>