<section class="top-pages">
	<h4 class="toph4">TOP - BOGOTOUR</h4>
{%for group in group%}
{%if group.first.id == 2%}
    {%for profile in profile %}
    {%if profile.page.title == group.first.title%}
	<article>
		<figure>
			{%for profiles in profiles%}
			{%if profiles.page.title == group.child.title%}
			<a href="{%url 'web.page' profiles.page.slug%}">
			<img src="/media/{{profiles.photo}}">
			</a>
			{%if profiles.page.price == 0%}

			{%else%}
			<p class="purple">{{profiles.page.price}}</p>
			{%endif%}
			{%endif%}
			{%endfor%}
		</figure>
		<h3>{{group.child.title}}</h3>
	<!--	{%for groups in groups%}
		{%if groups.child.title == group.child.title%}
		<strong>{{groups.first.title}}</strong>
		{%endif%}
		{%endfor%} -->
		<br><br>
	</article>
    {%endif%}
    {%endfor%}
{%endif%}
{%endfor%}
</section>

<h4 class="toph4">TOURS FUERA BOGOTÁ</h4>
<section class="topoffing">
{% include 'web/modules/_top-off.html' %}
<style type="text/css">
	.topoffing{background: #000;}
	.topoffing article{width: 100%;overflow: hidden;text-align: center;}
	.topoffing article figure img{height: 100%;}
	.topoffing article figure{text-align: center;}
</style>
</section>

<h4 class="toph40">NATURALEZA</h4>
<section class="top-naturaleza">
	<div class="nat-left">
	{%for group in group%}
	{%if group.first.title == "Naturaleza"%}
    {%for profile in profile %}
    {%if profile.page.title == group.first.title%}
		{%for profilesn in profilesn%}
			{%if profilesn.page.title == group.child.title%}
			{%if profilesn.page.id == 16%}
			<article>
			<figure>
			<a href="{%url 'web.page' profilesn.page.slug%}">
			<span>{{profilesn.page.title}}</span>
			<img src="/media/{{profilesn.photo}}">
			</a>
			</figure>
			</article>
			{%endif%}
			{%endif%}
			{%endfor%}
	    {%endif%}
    {%endfor%}
{%endif%}
{%endfor%}
	</div><div class="nat-right">
			{%for group in group%}
	{%if group.first.title == "Naturaleza"%}
    {%for profile in profile %}
    {%if profile.page.title == group.first.title%}
		{%for profilesn in profilesn%}
			{%if profilesn.page.title == group.child.title%}
			{%if profilesn.page.id == 19%}
			<article>
			<figure>
			<a href="{%url 'web.page' profilesn.page.slug%}">
			<span>{{profilesn.page.title}}</span>
			<img src="/media/{{profilesn.photo}}">
			</a>
			</figure>
			</article>
			{%endif%}
			{%endif%}
			{%endfor%}
	    {%endif%}
    {%endfor%}
{%endif%}
{%endfor%}
		<br>
			{%for group in group%}
	{%if group.first.title == "Naturaleza"%}
    {%for profile in profile %}
    {%if profile.page.title == group.first.title%}
		{%for profilesn in profilesn%}
			{%if profilesn.page.title == group.child.title%}
			{%if profilesn.page.id == 17%}
			<article>
			<figure>
			<a href="{%url 'web.page' profilesn.page.slug%}">
			<span>{{profilesn.page.title}}</span>
			<img src="/media/{{profilesn.photo}}">
			</a>
			</figure>
			</article>
			{%endif%}
			{%endif%}
			{%endfor%}
	    {%endif%}
    {%endfor%}
{%endif%}
{%endfor%}
	</div>
</section>

<section class="top-pages">
	<h4 class="toph40">EXPERIENCIAS</h4>
{%for group in group%}
{%if group.first.title == "Experiencias"%}
    {%for profile in profile %}
    {%if profile.page.title == group.first.title%}
	<article>
		<figure>
			{%for profiles in profiles%}
			{%if profiles.page.title == group.child.title%}
			<a href="{%url 'web.page' profiles.page.slug%}">
			<img src="/media/{{profiles.photo}}">
			</a>
			<p class="purple">{{profiles.item.title}}</p>
			{%endif%}
			{%endfor%}
		</figure>
		<h3>{{group.child.title}}</h3>
		{%for groups in groups%}
		{%if groups.child.title == group.child.title%}
		<strong>{{groups.first.title}}</strong>
		{%endif%}
		{%endfor%}
		<br><br>
	</article>
    {%endif%}
    {%endfor%}
{%endif%}
{%endfor%}
</section>

<section class="eldorado">
	<table>
		<td class="td300">
			{%for group in group%}
				{%if group.first.title == "Viajeros Transfer"%}
			    {%for profile in profile %}
			    {%if profile.page.title == group.first.title%}
					{%for profilesn in profilesn%}
						{%if profilesn.page.title == group.child.title%}
						{%if profilesn.page.id == 30%}
						<article>
						<figure>
						<a href="{%url 'web.page' profilesn.page.slug%}">
						<span>Aprovecha tu Transfer en Bogotá</span>
						<img src="/media/{{profilesn.photo}}">
						</a>
						</figure>
						</article>
						{%endif%}
						{%endif%}
						{%endfor%}
				    {%endif%}
			    {%endfor%}
			{%endif%}
			{%endfor%}
		</td>
		<td class="tdmorado">
			<p>tour tres horas</p>
			<p>tour 5 horas</p>
			<p>traslados a su hospedaje</p>
		</td>
	</table>
</section>

<style type="text/css">
	.top-naturaleza{padding: 10px;}
	.top-naturaleza div{padding: 10px;}
	.top-naturaleza a{display: block;position: relative;}
	.top-naturaleza a span{display: block;position: absolute;top: 0;left: 0;padding: 20px;color: yellow;font-size: 26px;font-family: montserrat;text-transform: uppercase;}
	.nat-left{display: inline-block;vertical-align: top;width: 70%;}
	.nat-right{display: inline-block;vertical-align: top;width: 30%;}
	.nat-left article{height: 500px;}
	.nat-right article{height: 240px;}
	.top-naturaleza article{width: 100%;}
	.top-naturaleza article figure{width: 100%;height: 100%;}
	.top-naturaleza article figure img{width: 100%;height: 100%;background: yellow;}
	.toph40{color: #000;margin: 30px auto;display: block;font-size: 30px;text-align: center;font-family: montserrat;}
	.td300{width: 500px;height: 300px;}
	.td300 img{width: 100%;height: 100%;}
	.td300 a{display: block;position: relative;}
	.td300 a span{display: block;position: absolute;bottom: 0;left: 0;padding: 20px;color: white;font-size: 26px;font-family: montserrat;text-transform: uppercase;}
	.tdmorado p{color:#353795;padding: 10px;font-size: 20px;}
		        @media screen and (max-width:833px){
       .nat-left{display: inline-block;vertical-align: top;width: 100%;}
	.nat-right{display: inline-block;vertical-align: top;width: 100%;}
	.nat-left article{height: 300px;}
	.nat-right article{height: 300px;}
	.td300{width: 100%;auto}
	.td300 img{width: 100%;height: 300px;}
    }
</style>

<style type="text/css">
	.top-off{background: #000;text-align: center;padding: 20px;}
	.top-off h5{color: yellow;font-size: 18px; font-weight: bold;}
	.top-off article{display: inline-block;vertical-align: middle;margin: 0 -2px;}
	.top-off article figure img{width: 150px;height: 250px;margin: 50px 0px;}	
	.top-off article figure img:hover{width: 300px;height: 200px;margin: 0px 0px}
</style>

<style type="text/css">
	.purple{position: absolute;bottom:10px;right: 5px;display: block;background: #353795;text-align: center;font-size: 16px;color: yellow;padding: 8px;border-radius: 14px;}
	.top-pages{background: #fff;padding: 20px;}
	.top-pages article{width: 33%;display: inline-block;vertical-align: top;}
	.top-pages article figure{background:#333;width: 100%;height: 250px;overflow: hidden;text-align: center;position: relative;}
	.top-pages article figure img{width: 100%;height: 100%;}
	.top-pages article figure img:hover{width: 110%;height: 110%;}
	.top-pages article h3{padding: 20px;font-size: 18px;text-align: left;color: #000;background: url(/static/img/places.png)no-repeat left 1px center;background-size: 18px;}
	.top-pages article strong{color: #666;text-align: left;padding: 5px;font-size: 12px;border: 1px solid #999;}
	.toph4{color: #353795;margin: 30px auto;display: block;font-size: 30px;text-align: center;font-family: montserrat;}

	        @media screen and (max-width:833px){
        .top-pages article{width: 100%;}
    }
</style>