<section class="top-pages">
	<h4 class="toph4">TOP - BOGOTOUR</h4>
{%for group in group%}
{%if group.first.title == "Top Bogotours"%}
    {%for profile in profile %}
    {%if profile.page.title == group.first.title%}
	<article>
		<figure>
			{%for profiles in profiles%}
			{%if profiles.page.title == group.child.title%}
			<img src="/media/{{profiles.photo}}">
			{%endif%}
			{%endfor%}
		</figure>
		<h3>{{group.child.title}}</h3>
	</article>
    {%endif%}
    {%endfor%}
{%endif%}
{%endfor%}
</section>

<style type="text/css">
	.top-pages{background: #fff;padding: 20px;}
	.top-pages article{width: 33%;display: inline-block;vertical-align: top;}
	.top-pages article figure{background:#333;width: 100%;height: 250px;overflow: hidden;text-align: center;}
	.top-pages article figure img{width: 120%;}
	.top-pages article h3{padding: 10px;font-size: 16px;}
	.toph4{color: #353795;margin: 30px auto;display: block;font-size: 30px;text-align: center;font-family: montserrat}

	        @media screen and (max-width:833px){
        .top-pages article{width: 100%;}
    }
</style>