<a href="https://api.whatsapp.com/send?phone=+573107689638&text=Mensaje desde www.bogotours.co" id="whatsapp">RESERVA YA!</a>

<style type="text/css">
    #whatsapp{position: fixed;z-index:15;right:-40px;bottom:50px;width: 240px;border-radius:100px;background: green url(/static/img/whatsapp.png)no-repeat left 10px center;background-size:40px;color: white;display: block;padding:10px 5px;padding-left: 60px;font-size:18px;}
    #whatsapp:hover{right: -30px;}
        @media screen and (max-width:833px){
        #whatsapp{font-size: 16px;width: 100px;}
    }
</style>