
<footer>
     
    <ul id="redesf"><a target="_blank" href="https://api.whatsapp.com/send?phone=+573054814058&text=Solicitud de Información desde www.bogotours.co"><img src="/static/img/whatsapp.png"></a><a target="_blank" href="https://www.facebook.com/bogotours"><img src="/static/img/facebook.png"></a><a target="_blank" href="mailto:bogotours@gmail.com"><img src="/static/img/google.png"></a></ul>

    <a class="playstore" href="#" target="_blank"></a>
        <h4>Si es acompañado... Es mejor!</h4>
    <p>Copyright © 2019 Bogotours - Bogotá, Colombia. Todos los derechos reservados. </p>
</footer>
