
<!--MENU -->

<div class="phone">
    <p>Follow us:</p>
    <a href=""><img src="/static/img/facebook.png"></a>
    <a href=""><img src="/static/img/whatsapp.png"></a>
    <span> +57 305 481 4058. / contact@bogotours.co</span>  
</div>
<nav id="menu-lefts" class="menu-left">
    <a id="icon" href="/"><img src="/static/img/logo.png"></a>
    <ul>
    <li><a href="{% url 'blog.inicio' %}">Home</a></li>
    <li><a href="{% url 'blog.inicio' %}">Tours</a></li>
    </ul>
</nav>
<nav id="menutours">
    <table>
        <td>
            <ul>
                <li><a href=""><p><strong>Gastronomy</strong></p></a></li>
                <li><a href=""><p>Food Tour In La Candelaria</p></a></li>
                <li><a href=""><p>BBC Brewery Visit</p></a></li>
            </ul>
        </td>
        <td>
            <ul>
                <li><a href=""><p><strong>Coffe Tours</strong></p></a></li>
                <li><a href=""><p>Coffee Tasting Tour In La Candelari</p></a></li>
                <li><a href=""><p>BBC Brewery Visit</p></a></li>
            </ul>
        </td>
        <td>
            <ul>
                <li><a href=""><p><strong>Sightseeing Tours</strong></p></a></li>
                <li><a href=""><p>La Candelaria Tour 3H</p></a></li>
                <li><a href=""><p>La Candelaria + Monserrate Tour 5H</p></a></li>
                <li><a href=""><p>La Candelaria + Museums Tour 5H</p></a></li>
                <li><a href=""><p>La Candelaria + Monserrate + Museums 7H</p></a></li>
                <li><a href=""><p>Graffiti Tour In La Candelaria</p></a></li>
            </ul>
        </td>
        <td>
            <ul>
                <li><a href=""><p><strong>Nightlife</strong></p></a></li>
                <li><a href=""><p>Andres DC Night Tour</p></a></li>
                <li><a href=""><p>Pub Crawl Tour In La Candelaria</p></a></li>
                <li><a href=""><p>Andres Carne de Res Chia</p></a></li>
            </ul>
        </td>
        <td>
            <ul>
                <li><a href=""><p><strong>Layover & Transfers</strong></p></a></li>
                <li><a href=""><p>Bogotá Layover Tour 4H</p></a></li>
                <li><a href=""><p>Layover La Candelaria + Museums 4H</p></a></li>
                <li><a href=""><p>Layover Bogota City Tour 8H</p></a></li>
                <li><a href=""><p>Private Departure Transfer</p></a></li>
                <li><a href=""><p>Private Arrival Transfer: Bogota Airport to Hotel</p></a></li>
            </ul>
        </td>
    </table>
</nav>

<style type="text/css">
    #menutours{background: #fff;padding: 20px;}
    #menutours table td ul li a{color: #000; font-size: 14px;}
    #menutours table td ul li{padding: 5px 20px;}
    #menutours table td ul li a strong{border-bottom:1px solid #333;}
    #menutours table td{display: inline-block;vertical-align: top;}
</style>