
<!-- PORTADA -->

<section class="portada">
<div class="swiper-container">
<div class="swiper-wrapper">

    <div class="swiper-slide">
    <div class="banner">
    <h3>Bogotá Walks And Tours</h3>
     <img width="100%" height="100%" src="/static/img/header4.jpg">
    </div>
    </div>  
    <div class="swiper-slide">
        <div class="banner">
    <h3>Interactive Tours</h3>
     <img width="100%" height="100%" src="/static/img/header1.jpg">
    </div>  
     </div>	
    <div class="swiper-slide">
        <div class="banner">
    <h3>Informative Tours</h3>
     <img width="100%" height="100%" src="/static/img/header2.jpg">
    </div> 
     </div>
    <div class="swiper-slide">
        <div class="banner">
    <h3>Book Today</h3>
     <img width="100%" height="100%" src="/static/img/header3.jpg">
    </div>  
     </div>

</div>
<div class="swiper-pagination"></div>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
</div>
</section>