
{% extends 'blog/base_blog.html' %}

{% block title %}Bogotours - Turismo y paseos en Bogotá - Contacto{% endblock title %}

{% block blog_content %}

<h2>¡Contactanos!</h2>
<section class="contacto">
    <form>
        <h3>Ingresa el Formulario para Reservar</h3>
        <input type="text" name="email" placeholder="Nombre">
        <input type="email" name="email" placeholder="Correo">
        <input type="text" name="telefono" placeholder="Telefono">
        <textarea placeholder="Mensaje"></textarea>
        <button type="submit">¡Enviar!</button>
    </form>
</section>




<!--



<section class="contacto" id="contacto">
<h2><span><img src="/static/img/contacto.png"></span>Contacto</h2>
</section>

		 <form id="formulario" method="post" action="" enctype="multipart/form-data">
            <h3>Realize sus cotizaciones en linea:</h3>
                    {% csrf_token %}
                    <div class="form-group">
                        <input required="True" placeholder="Su Email" class="form-control" id="id_correo" name="correo" type="email">
                    </div>
                    
                    <div class="form-group">
                        <textarea required="True" placeholder="Su Mensaje" class="form-control" cols="40" id="id_mensaje" name="mensaje" rows="10"></textarea>
                    </div>
                    <button type="submit" class="look">Enviar</button> 
                </form>

<a href="{%url 'blog.productos'%}">
<img width="100%" src="/static/img/materiales.jpg">
</a>

-->

{% endblock blog_content %}

