{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <script type="text/javascript" src="/resources/js/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" href="/resources/swiper/css/swiper.css?v=1.0.2">
    <link rel="stylesheet" href="/resources/css/main.css?v=1.0.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/img/go.png">
</head>
<body>
{% include 'web/modules/_loader.html' %}

    {% include 'web/modules/_menu.html' %}  
    <div id="container" class="container">
    <div class="border">
    {% block content %}{% endblock content %}
    {% include 'web/modules/_whatsapp.html' %}
    {% include 'web/modules/_footer.html' %}
    </div>
    </div>

{% include 'web/modules/_swiperconf.html' %}

</body>
</html>
