{% extends 'web/_body.html' %}
{% block title %}{% endblock title %}
{% block web_content %}

	<h2>Enjoy New Experiencies In Bogotá</h2>
<h3>All you should know about Bogotá in our Blog</h3>
<section class="iblogs">
{%for blog in blog %}
	<article>
		<a href="{%url 'web.blog' blog.slug%}">
		<img src="/media/{{blog.picture}}">
		</a>
		<h4>{{blog.title}}</h4>
		<p>{{blog.description}}</p>
		<li><a href="{%url 'web.blog' blog.slug%}">Read More...</a></li>
	</article>
{%endfor%}
</section>

<style type="text/css">
	.iblogs{background: #fff;padding: 20px;text-align: center;width: 60%;margin: 0 auto;}
	.iblogs article{display: inline-block;background: #dde0e6;width: 100%;padding:10px;vertical-align: top;border-radius: 5px;margin: 2px;}
	.iblogs img{width: 100%;border-radius: 5px;}
	.iblogs p{padding: 20px;font-size: 12px;color: #222;}
	.iblogs h4{padding: 20px;font-size: 18px;}
	.iblogs li{display:inline-block;margin: 10px auto;}
	.iblogs li a{background: black;color: #fff;padding: 20px;display: block;}
	@media screen and (max-width:833px){
        .iblogs{padding: 5px;width: 100%;}
        .iblogs article{width: 100%;}
    }
</style>

{% endblock web_content %}