{% extends 'web/_body.html' %}
{% block title %}{% endblock title %}
{% block web_content %}

	<h2>Explora las mejores experiencias</h2>
	<br><br>
<h3>Encuentra información sobre la ciudad de Bogotá en nuestro Blog</h3>
<section class="iblogs">
{%for blog in blog %}
	<article>
		<a href="{%url 'web.blog' blog.slug%}">
		<img src="/media/{{blog.picture}}">
		</a>
		<h4>{{blog.title}}</h4>
		<p>{{blog.description|safe}}</p>
		<li><a href="{%url 'web.blog' blog.slug%}">Continuar leyendo...</a></li>
	</article>
{%endfor%}
</section>

<style type="text/css">
	.border{background: #000;}
	.iblogs{background: #000;padding: 20px;text-align: center;width: 60%;margin: 0 auto;}
	.iblogs article{display: inline-block;background: #fff;width: 100%;padding:10px;vertical-align: top;border-radius: 5px;margin: 2px;}
	.iblogs img{width: 100%;border-radius: 5px;}
	.iblogs p{padding: 20px;font-size: 12px;color: #222;}
	.iblogs h4{padding: 20px;font-size: 18px;}
	.iblogs li{display:inline-block;margin: 10px auto;}
	.iblogs li a{background: black;color: #fff;padding: 10px 20px;display: block;border-radius: 60px;}
	.world{width: 100%;}
	@media screen and (max-width:833px){
        .iblogs{padding: 5px;width: 100%;}
        .iblogs article{width: 100%;}
    }
</style>

<section class="world">

<div id="map" style="width: 100%; height: 100%;"></div>
<script>

	var map = L.map('map').setView([ 4.5929, -74.0769], 15);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(map);

var LeafIcon = L.Icon.extend({
		options: {
			iconSize:     [40, 30],
			iconAnchor:   [22, 74],
			popupAnchor:  [-3, -76]
		}
	});

	var greenIcon = new LeafIcon({iconUrl: '/static/img/go.png'}),
		redIcon = new LeafIcon({iconUrl: '/static/img/go.png'}),
		orangeIcon = new LeafIcon({iconUrl: '/static/img/go.png'});

	L.marker([4.5929, -74.0770], {icon: greenIcon}).bindPopup("I am a green leaf.").addTo(map);
	L.marker([4.5929, -74.0790], {icon: redIcon}).bindPopup("I am a red leaf.").addTo(map);
	L.marker([4.5929, -74.0810], {icon: orangeIcon}).bindPopup("I am an orange leaf.").addTo(map);

</script>
</section>

{% endblock web_content %}