{% extends 'web/_body.html' %}
{% block title %}Bogotours - Turismo y paseos en Bogotá{% endblock title %}
{% block web_content %}
{% include 'web/modules/_header.html' %}

<h2>Top Tours Bogotá</h2>
<h3>Tours based on tips, starting every day at 10am and 2pm!</h3>
<section class="tours">
    <article>
        <figure>
        <img src="/resources/img/tours/01/00.jpg">
        <span>Check the price</span>
        </figure>
        <div>
        <h4>Graffiti Tour Bogotá</h4>
        <p>Want to know the stories behind Toxicomano, Guache and others? Want to learn how graffiti fits into Bogotá’s history and allure? join us in this tour not only of Colombia’s history as told by art!</p>
         <table class="thistour-icons">
            <td><img src="/resources/img/calendar.png"><p>Every Day</p></td>
            <td><img src="/resources/img/time.png"><p>3 Hours</p></td>
            <td><img src="/resources/img/clock.png"><p>10:00 am & 2:00 pm</p></td>
            <td><img src="/resources/img/info.png"><p>Top Tour</p></td>
        </table>
        </div>
        <div>
            <img src="/resources/img/tours/01/04.jpg"><img src="/resources/img/tours/01/01.jpg"><img src="/resources/img/tours/01/02.jpg"><img src="/resources/img/tours/01/03.jpg">
        </div>
    </article>
    <article>
        <figure>
        <img src="/resources/img/tours/02/00.jpg">
        <span>Check the price</span>
        </figure>
        <div>
        <h4>Walking Tour Bogotá</h4>
        <p>Join us in this amazing walking tour through Bogotá's downtown district and learn all about the city's history and culture, making friends along the way.</p>
         <table class="thistour-icons">
            <td><img src="/resources/img/calendar.png"><p>Every Day</p></td>
            <td><img src="/resources/img/time.png"><p>3 Hours</p></td>
            <td><img src="/resources/img/clock.png"><p>10:00 am or 2:00 pm</p></td>
            <td><img src="/resources/img/info.png"><p>Top Tour</p></td> 
        </table>
        </div>
        <div>
            <img src="/resources/img/tours/02/04.jpg"><img src="/resources/img/tours/02/01.jpg"><img src="/resources/img/tours/02/02.jpg"><img src="/resources/img/tours/02/03.jpg">
        </div>
    </article>
    <article>
        <figure>
        <img src="/resources/img/tours/03/00.jpg">
        <span>Check the price</span>
        </figure>
        <div>
        <h4>Biking Tour Bogotá</h4>
        <p>Why walk when you can ride? Join one of our expert guides in this amazing bike tour around downtown Bogotá and learn about the history and culture of the city.</p>
         <table class="thistour-icons">
            <td><img src="/resources/img/calendar.png"><p>Every Day</p></td>
            <td><img src="/resources/img/time.png"><p>3.5 Hours</p></td>
            <td><img src="/resources/img/clock.png"><p>10:00 am or 2:00 pm</p></td>
            <td><img src="/resources/img/info.png"><p>Top Tour</p></td> 
        </table>
        </div>
        <div>
            <img src="/resources/img/tours/03/04.jpg"><img src="/resources/img/tours/03/01.jpg"><img src="/resources/img/tours/03/02.jpg"><img src="/resources/img/tours/03/03.jpg">
        </div>
    </article>
</section>

<h2>Shared Tours Bogotá</h2>
<h3>Small-group tour with fellow travelers at a very competitive price!</h3>
<section class="tours">
    <article>
        <figure>
        <img src="/resources/img/tours/04/00.jpg">
        <span>Check the price</span>
        </figure>
        <div>
        <h4>Monserrate + Gold Museum Bogota City Tour</h4>
        <p>Join us in a different walk through Bogotá’s iconic downtown! Visit important historical landmarks, learn the local history and explore two amazing museums: Museo de Botero and the Gold Museum!</p>
         <table class="thistour-icons">
            <td><img src="/resources/img/calendar.png"><p>Every Day</p></td>
            <td><img src="/resources/img/time.png"><p>3 Hours</p></td>
            <td><img src="/resources/img/clock.png"><p>9:00 am</p></td>
            <td><img src="/resources/img/info.png"><p>Shared Tour</p></td>
        </table>
        </div>
        <div>
            <img src="/resources/img/tours/01/00.jpg"><img src="/resources/img/tours/01/01.png"><img src="/resources/img/tours/01/02.jpg"><img src="/resources/img/tours/01/03.jpg">
        </div>
    </article>
    <article>
        <figure>
        <img src="/resources/img/tours/06/00.jpg">
        <span>Check the price</span>
        </figure>
        <div>
        <h4>Graffiti Tour Bogotá</h4>
        <p>Want to know the stories behind Toxicomano, Guache and others? Want to learn how graffiti fits into Bogotá’s history and allure? join us in this tour not only of Colombia’s history as told by art!</p>
         <table class="thistour-icons">
            <td><img src="/resources/img/calendar.png"><p>Every Day</p></td>
            <td><img src="/resources/img/time.png"><p>3 Hours</p></td>
            <td><img src="/resources/img/clock.png"><p>10:00 am & 2:00 pm</p></td>
            <td><img src="/resources/img/info.png"><p>Free Tour</p></td>
        </table>
        </div>
        <div>
            <img src="/resources/img/tours/01/00.jpg"><img src="/resources/img/tours/01/01.png"><img src="/resources/img/tours/01/02.jpg"><img src="/resources/img/tours/01/03.jpg">
        </div>
    </article>
</section>

<h2>Best Tours Bogotá</h2>
<h3>Chose any tour with exclusive guide and transportation for your group!</h3>
<section class="tours">
    <article>
        <figure>
        <img src="/resources/img/tours/07/00.jpg">
        <span>Check the price</span>
        </figure>
       <div>
        <h4>Graffiti Tour Bogotá</h4>
        <p>Want to know the stories behind Toxicomano, Guache and others? Want to learn how graffiti fits into Bogotá’s history and allure? join us in this tour not only of Colombia’s history as told by art!</p>
         <table class="thistour-icons">
            <td><img src="/resources/img/calendar.png"><p>Every Day</p></td>
            <td><img src="/resources/img/time.png"><p>3 Hours</p></td>
            <td><img src="/resources/img/clock.png"><p>10:00 am & 2:00 pm</p></td>
            <td><img src="/resources/img/info.png"><p>Free Tour</p></td>
        </table>
        </div>
        <div>
            <img src="/resources/img/tours/01/00.jpg"><img src="/resources/img/tours/01/01.png"><img src="/resources/img/tours/01/02.jpg"><img src="/resources/img/tours/01/03.jpg">
        </div>
    </article>
    <article>
        <figure>
        <img src="/resources/img/tours/08/00.jpg">
        <span>Check the price</span>
        </figure>
       <div>
        <h4>Graffiti Tour Bogotá</h4>
        <p>Want to know the stories behind Toxicomano, Guache and others? Want to learn how graffiti fits into Bogotá’s history and allure? join us in this tour not only of Colombia’s history as told by art!</p>
         <table class="thistour-icons">
            <td><img src="/resources/img/calendar.png"><p>Every Day</p></td>
            <td><img src="/resources/img/time.png"><p>3 Hours</p></td>
            <td><img src="/resources/img/clock.png"><p>10:00 am & 2:00 pm</p></td>
            <td><img src="/resources/img/info.png"><p>Free Tour</p></td>
        </table>
        </div>
        <div>
            <img src="/resources/img/tours/01/00.jpg"><img src="/resources/img/tours/01/01.png"><img src="/resources/img/tours/01/02.jpg"><img src="/resources/img/tours/01/03.jpg">
        </div>
    </article>
    <article>
        <figure>
        <img src="/resources/img/tours/09/00.jpg">
        <span>Check the price</span>
        </figure>
       <div>
        <h4>Graffiti Tour Bogotá</h4>
        <p>Want to know the stories behind Toxicomano, Guache and others? Want to learn how graffiti fits into Bogotá’s history and allure? join us in this tour not only of Colombia’s history as told by art!</p>
         <table class="thistour-icons">
            <td><img src="/resources/img/calendar.png"><p>Every Day</p></td>
            <td><img src="/resources/img/time.png"><p>3 Hours</p></td>
            <td><img src="/resources/img/clock.png"><p>10:00 am & 2:00 pm</p></td>
            <td><img src="/resources/img/info.png"><p>Free Tour</p></td>
        </table>
        </div>
        <div>
            <img src="/resources/img/tours/01/00.jpg"><img src="/resources/img/tours/01/01.png"><img src="/resources/img/tours/01/02.jpg"><img src="/resources/img/tours/01/03.jpg">
        </div>
    </article>
</section>

<h2>Why us</h2>
<h3>We offer the best tours in Bogotá: learn, have fun, and share with the best local guides</h3>
<section class="whyus">
    <article>
        <img width="89px" src="/resources/img/us1.jpeg">
        <p><strong>Top-quality guides</strong></p>
        <p>Our team consists of completely bilingual locals, with extensive knowledge and understanding of Colombian culture and history.</p>
    </article>
    <article>
        <img src="/resources/img/us2.png">
        <p><strong>Informative tours</strong></p>
        <p>Learn about Colombia in innovative ways: our guides are storytellers and entertainers who use great educational material.</p>
    </article>
    <article>
        <img src="/resources/img/us3.png">
        <p><strong>Interactive</strong></p>
        <p>Share and learn by befriending local business owners and form new bonds with your fellow tourists in fun tour activities.</p>
    </article>
</section>

<style type="text/css">
    .whyus{padding: 20px;text-align: center;}
    .whyus article{display: inline-block;width: 300px;vertical-align: top;padding: 20px;}
    .whyus article p{padding: 5px;color: #555;}
    .whyus article strong{font-size: 16px;}
</style>

<h2>What travelers are saying</h2>
<h3>Their side of the story</h3>
<section class="travelers">
    <p>«Highly recommend this tour through La Candelaria — included very interesting background on the city’s history, as well as delicious samples of local fruits, juices, coca tea and coffee. Natalia was a great guide who kept everyone engaged throughout.»</p>
    <img src="/resources/img/avatar.jpg">
</section>

<style type="text/css">
    .travelers{padding: 20px 100px;text-align: center;}
    .travelers p{width: 80%;font-size: 18px;line-height: 2;margin: 0 auto;display: block;color: #555;}
    .travelers img{border-radius: 50%;width: 80px;height: 80px;margin: 20px;}
</style>
{% endblock web_content %}