{% extends 'web/_body.html' %}
{% block title %}{% endblock title %}
{% block web_content %}

<h2>About us</h2>
<h3>We offer the best tours in Bogotá: learn, have fun, and share with the best local guides</h3>
<section class="whyus">
    <article>
        <img width="89px" src="/static/img/us1.jpeg">
        <p><strong>Top-quality guides</strong></p>
        <p>Our team consists of completely bilingual locals, with extensive knowledge and understanding of Colombian culture and history.</p>
    </article>
    <article>
        <img src="/static/img/us2.png">
        <p><strong>Informative tours</strong></p>
        <p>Learn about Colombia in innovative ways: our guides are storytellers and entertainers who use great educational material.</p>
    </article>
    <article>
        <img src="/static/img/us3.png">
        <p><strong>Interactive</strong></p>
        <p>Share and learn by befriending local business owners and form new bonds with your fellow tourists in fun tour activities.</p>
    </article>
</section>

<style type="text/css">
    .whyus{padding: 20px;text-align: center;}
    .whyus article{display: inline-block;width: 300px;vertical-align: top;padding: 20px;}
    .whyus article p{padding: 5px;color: #555;}
    .whyus article strong{font-size: 16px;}
</style>
{% endblock web_content %}